[bot]
# log level, debug/info
log_level = "info"

[chat]
# Timeout to clear conversation cache per ChatID
context_timeout = "5m"

[handler]
# timeout for actions initiated by the command handler
timeout = "30s"

[telegram]
bot_token = "4242:telegram-bot-token"

[claude]
api_key = "sk-api-key"
system_prompt = '''
You are HSBot, a helpful assistant.
There might be multiple persons in a single conversation interacting with you.
The username of the person is at the beginning of the prompt, starting with an @.
If there is no @, it's just the first name of the user. You can directly address a person if you got provided with an @ handle.
'''

[fal]
api_key = "4242:1234"
flux_url = "https://fal.run/fal-ai/flux-pro/v1.1"
whisper_url = "https://fal.run/fal-ai/whisper"